<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asignaturas -->
      <package
            uri="asignaturasURI"
            class="asignaturas.AsignaturasPackage"
            genModel="model/asignaturas.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asignaturas -->
      <package
            uri="EstudiantesURI"
            class="Estudiantes.EstudiantesPackage"
            genModel="model/asignaturas.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asignaturas2 -->
      <package
            uri="WorkspaceURI"
            class="Workspace.WorkspacePackage"
            genModel="model/asignaturas2.genmodel"/>
   </extension>

</plugin>
