openapi: 3.0.3
info:
  title: Currícula (EM) API
  description: |
    Especificación de la API del microservicio EM (`curricula_microservice`).

    ## Seguridad por workspace
    - Si un workspace **no** tiene contraseña, las operaciones con `uuid` funcionan sin token.
    - Si un workspace **sí** tiene contraseña, primero se debe obtener un token con `POST /Workspaces/Unlock`
      y luego enviarlo como `Authorization: Bearer <token>` en los endpoints con `uuid`.
  version: 2.0.0
servers:
  - url: https://tmde-api.fapret.com:8443/curricula_microservice
    description: Producción
  - url: http://localhost:8080/curricula_microservice
    description: Local
security:
  - WorkspaceBearerAuth: []
paths:
  /Workspaces:
    get:
      summary: Listar workspaces
      description: Lista IDs de workspace disponibles.
      security: []
      responses:
        '200':
          description: Lista de UUIDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: uuid
    post:
      summary: Crear workspace
      description: Crea un workspace con ID UUID y contraseña opcional.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid]
              properties:
                uuid:
                  type: string
                  format: uuid
                password:
                  type: string
                  description: Contraseña opcional para proteger el workspace.
          application/json:
            schema:
              type: object
              required: [uuid]
              properties:
                uuid:
                  type: string
                  format: uuid
                password:
                  type: string
      responses:
        '200':
          description: Workspace creado

  /Workspaces/Unlock:
    post:
      summary: Obtener token para workspace protegido
      description: Devuelve token bearer de 1 hora para un workspace protegido con contraseña.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid, password]
              properties:
                uuid:
                  type: string
                  format: uuid
                password:
                  type: string
          application/json:
            schema:
              type: object
              required: [uuid, password]
              properties:
                uuid:
                  type: string
                  format: uuid
                password:
                  type: string
      responses:
        '200':
          description: Token emitido
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    type: string
                    format: uuid
                  token:
                    type: string
                  iat:
                    type: integer
                  exp:
                    type: integer

  /Faculty:
    get:
      summary: Obtener facultades o detalle de facultad
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - name: faculty
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: Éxito

  /Faculty/Carrera:
    get:
      summary: Obtener carrera
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: career
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Éxito

  /Faculty/Carrera/Plan:
    get:
      summary: Obtener plan
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: career
          in: query
          required: true
          schema:
            type: string
        - name: plan
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Éxito

  /Faculty/Carrera/Plan/ucs:
    get:
      summary: Obtener UCs de plan
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: career
          in: query
          required: true
          schema:
            type: string
        - name: plan
          in: query
          required: true
          schema:
            type: integer
        - name: withName
          in: query
          required: false
          schema:
            type: boolean
        - name: valid_flag
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Éxito

  /Faculty/Carrera/Plan/Subjects:
    get:
      summary: Obtener materia(s) en plan
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: career
          in: query
          required: true
          schema:
            type: string
        - name: plan
          in: query
          required: true
          schema:
            type: integer
        - name: subject
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Éxito

  /Faculty/ucs:
    get:
      summary: Obtener UC o listado de UCs
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: curricularUnit
          in: query
          required: false
          schema:
            type: string
        - name: withName
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Éxito

  /Faculty/Carrera/Plan/eval:
    post:
      summary: Evaluar qué UCs puede cursar un estudiante
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: career
          in: query
          required: true
          schema:
            type: string
        - name: plan
          in: query
          required: true
          schema:
            type: integer
        - name: id
          in: query
          required: false
          schema:
            type: string
        - name: valid_flag
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Éxito

  /Faculty/Carrera/Plan/evaluations:
    get:
      summary: Obtener evaluaciones de estudiante
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: career
          in: query
          required: true
          schema:
            type: string
        - name: plan
          in: query
          required: true
          schema:
            type: integer
        - name: id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Éxito

  /Faculty/ucs/eval:
    post:
      summary: Evaluar requerimientos de una UC para un estudiante
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Faculty'
        - name: curricularUnit
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Éxito

  /Estudiante:
    get:
      summary: Obtener modelo de estudiante
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: Éxito
    post:
      summary: Crear/reemplazar estudiante
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - name: name
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Éxito

  /Estudiante/AddPlan:
    post:
      summary: Agregar inscripción a plan
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid, faculty, career, plan, date, id]
              properties:
                uuid:
                  type: string
                  format: uuid
                faculty:
                  type: string
                career:
                  type: string
                plan:
                  type: integer
                date:
                  type: string
                id:
                  type: string
      responses:
        '200':
          description: Éxito

  /Estudiante/AddCourse:
    post:
      summary: Agregar inscripción a curso
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid, faculty, career, plan, curricularunit, course, date, id]
              properties:
                uuid:
                  type: string
                  format: uuid
                faculty:
                  type: string
                career:
                  type: string
                plan:
                  type: integer
                curricularunit:
                  type: string
                course:
                  type: string
                date:
                  type: string
                id:
                  type: string
      responses:
        '200':
          description: Éxito

  /Estudiante/AddEvaluation:
    post:
      summary: Agregar evaluación
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid, faculty, career, plan, curricularunit, evaluation, type, nota, id]
              properties:
                uuid:
                  type: string
                  format: uuid
                faculty:
                  type: string
                career:
                  type: string
                plan:
                  type: integer
                curricularunit:
                  type: string
                evaluation:
                  type: string
                type:
                  type: integer
                nota:
                  type: integer
                id:
                  type: string
      responses:
        '200':
          description: Éxito

  /EstudianteAddDegree:
    post:
      summary: Registrar egreso/título
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid, faculty, career, plan, date, id]
              properties:
                uuid:
                  type: string
                  format: uuid
                faculty:
                  type: string
                career:
                  type: string
                plan:
                  type: integer
                date:
                  type: string
                id:
                  type: string
      responses:
        '200':
          description: Éxito

  /GetStudentsLog:
    post:
      summary: Descargar log de estudiantes del workspace
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [uuid]
              properties:
                uuid:
                  type: string
                  format: uuid
      responses:
        '200':
          description: CSV generado
          content:
            text/csv:
              schema:
                type: string

components:
  securitySchemes:
    WorkspaceBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token de workspace emitido por `/Workspaces/Unlock`.
  parameters:
    Uuid:
      name: uuid
      in: query
      required: true
      schema:
        type: string
        format: uuid
      description: UUID del workspace (scope de datos y autorización).
    Faculty:
      name: faculty
      in: query
      required: true
      schema:
        type: string
